/** Global Fonts **/
/**common styles***/
.ya-page-title {
  padding-bottom: 10px;
  margin: 15px 0;
  border-bottom: 2px solid #333;
  color: #B4341D;
}

.ya-grey-border-bottom, .ya-black-border-bottom {
  padding-bottom: 15px;
  margin: 15px 0;
  border-bottom: 2px solid #ccc;
}

.ya-black-border-bottom {
  border-bottom: 2px solid #333;
}

h1 {
  font: 36px "ProximaNova-Regular";
}
@media (max-width: 460px) {
  h1 {
    font-size: 25px;
  }
}

h2 {
  font: 28px "ProximaNova-Regular";
}
@media (max-width: 460px) {
  h2 {
    font-size: 21px;
  }
}

h3 {
  font: 20px "ProximaNova-Regular";
}
@media (max-width: 460px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font: 18px "ProximaNova-Regular";
}
@media (max-width: 460px) {
  h4 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .ya-main-content {
    padding: 20px 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .ya-main-content {
    padding: 20px 15px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0;
  }
}

.ya-geographic .ya-link {
  color: #0088CC;
}
.ya-geographic .ya-breadcrumb {
  margin: 0 0 20px 0;
}
.ya-geographic .ya-breadcrumb ul {
  background: none;
  border: 0 none;
  margin: 0;
  padding: 8px 0;
}
.ya-geographic .ya-breadcrumb ul li a, .ya-geographic .ya-breadcrumb ul li .divider {
  text-shadow: 0 0 0;
}
.ya-geographic .ya-breadcrumb ul .active {
  text-shadow: 0 0 0;
  color: #333333;
}
.ya-geographic .ya-breadcrumb ul .ya-icon-right {
  color: #333333;
  font-size: 12px;
}
.ya-geographic .ya-list {
  margin: 0;
}
.ya-geographic .ya-list ul {
  list-style-type: none;
  margin: 0;
}
.ya-geographic .ya-button-row {
  text-align: right;
  float: right;
}
@media (max-width: 767px) {
  .ya-geographic .ya-button-row {
    text-align: center;
  }
  .ya-geographic .ya-button-row .btn {
    margin: 0 0 15px 0;
  }
}
.ya-geographic .ya-teachers li, .ya-geographic .ya-schools li {
  margin: 0 0 10px 0;
}

.DnnModule {
  margin-bottom: 0 !important;
}
